body {
    background-color: #f8f9fa;
}

header h1 {
    position: relative;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    width: 50%;
    color: #343a40;
    /* font-weight: bold; */
}

.friend {
    position: relative;
    margin: 0 auto;
    padding: 1rem;    
    width: 50%;
    background-color: #e0e2e3;
    border-radius: 1rem;
    -webkit-box-shadow: 5px 10px 20px -10px rgba(108,117,125,1);
    -moz-box-shadow: 5px 10px 20px -10px rgba(108,117,125,1);
    box-shadow: 5px 10px 20px -10px rgba(108,117,125,1);
    text-align: center;
}

.friend h3 {
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem;
}